@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins');

*, *::before, *::after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
}

html {
  height: 100%;
  max-height: 100%;
}
.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Poppins';
  background: radial-gradient(ellipse at bottom right, hsl(0, 0%, 0%), hsl(0, 0%, 13%));
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 5rem;
  /* overflow-x: hidden; */
}

a {
  color: #bbb;
  transition: 150ms ease;
}

a:hover {
  color: white;
}

header {
  background: #444;
  color: white;
  margin-bottom: 2rem;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.325);
}

.nav-brand {
  font-family: 'Lobster Two';
  font-weight: 700;
  color: white;
}

.navbar a {
  margin: 0 0.15rem;
}

form {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
}

input {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: none !important;
  margin-bottom: 1rem;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.225);
}

.turntable {
  width: 100%;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  background: rgb(170, 170, 170);
  background: url("https://media.freestocktextures.com/cache/a4/2f/a42f1d91f2657c6aea52471e293e2858.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  border-radius: 8px;
  color: #333;
}

.tt-arm {
  display: inline-block;
  width: 30%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("http://www.schillmania.com/projects/soundmanager2/demo/turntable/image/tt_arm.png");
  position: absolute;
  top: 5%;
  right: 0%;
  transition: 250ms ease;
}

.tt-arm:hover {
  transform: rotate(13deg);
  transform-origin: 54% 27%;
}

.vinyl {
  cursor: pointer;
  max-width: 100%;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-delay: 700ms;
  /* animation-play-state: paused; */
}

.start-stop-btn {
  background: #ccc;
  color: #000;
  border-radius: 1px;
  position: absolute;
  border: 5px solid rgba(0, 0, 0, 0.75);
  font-size: 0.6rem;
  left: 1rem;
  bottom: 1rem;
}

.section-tracks {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
  font-weight: 100;
}

.section-tracks p {
  font-size: 0.75rem;
  margin-bottom: 0.45rem;
}

footer {
  width: 100%;
  background: #bbb;
  background: linear-gradient(to bottom right, #ddd, #555);
  color: #000;
  position: absolute;
  bottom: 0;
}

footer p {
  padding: 0.5rem 0;
  font-weight: 100;
  margin: 0;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
