/* @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'); */
@import url('https://fonts.googleapis.com/css?family=Cute+Font');

*, *::before, *::after {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
}

html {
  height: 100%;
  max-height: 100%;
  background: black;
}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: radial-gradient(circle at top left, hsl(0, 0%, 5%), hsl(0, 0%, 12%));
  font-weight: 300;
  color: white;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 12rem;
}

a {
  color: #bbb;
  transition: 150ms ease;
}

a:hover {
  color: white;
}

header {
  background: #444;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.325);
}

.nav-brand {
  font-family: 'Cute Font';
  line-height: 1;
  font-size: 3.5rem;
  margin-bottom: 0;
  font-weight: 700;
  color: white;
  letter-spacing: -1px;
}

.navbar a {
  margin: 0 0.15rem;
}

.container h2 {
  font-family: 'Cute Font';
  font-size: 3.8rem;
}

.nav-brand span {
  color: orangered;
}

form {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
}

.login-form input, .register-form input, .section-tracks input, .fileupload-form input {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: none !important;
  margin-bottom: 1rem;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,.225);
}

.fileupload-form input::placeholder {
  color: #bbb;
}

.fileupload-form {
  background: #444;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.player {
  margin-bottom: 3rem;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.turntable {
  width: 100%;
  max-width: 420px;
  margin: 0 auto 2rem;
  position: relative;
  background: rgb(170, 170, 170);
  /* background: url("https://media.freestocktextures.com/cache/a4/2f/a42f1d91f2657c6aea52471e293e2858.jpg"); */
  background: url("./assets/metal-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  border-radius: 5px;
  color: #333;
}

.vinyl {
  cursor: pointer;
  max-width: 75%;
  margin: 0 2rem;
}

.tt-arm {
  display: inline-block;
  width: 24%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./assets/tt_arm.png");
  position: absolute;
  z-index: 1;
  top: 2%;
  right: 5%;
  /* transition: 450ms ease; */
}

.tt-play {
  animation: tt-play 500ms linear forwards,
  needle-play 90s infinite linear 500ms alternate;
}

.needle-play {
  animation: needle-play 10s infinite linear 500ms alternate;
}

.tt-stop {
  animation: tt-stop 800ms ease-in;
  animation-fill-mode: forwards;
}

.turntable::after {
  content: '';
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 17%;
  height: 22%;
  top: 9%;
  right: 7%;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
}

.spin {
  animation: spin 1700ms infinite linear 2400ms,
   start 2400ms 1 ease-in;
}

@keyframes start {
  from {
   transform: rotate(0deg);
  }
  to {
   transform: rotate(360deg);
  }
 }
 
 @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
 }


@keyframes tt-play {
  0% {
    transform: rotate(0deg);
    transform-origin: 54% 27%;
  }
  50% {
    transform: rotate(4deg);
    transform-origin: 54% 27%;
  }
  100% {
    transform: rotate(11deg);
    transform-origin: 54% 27%;
  }
}

@keyframes tt-stop {
  0% {
    transform: rotate(11deg);
    transform-origin: 54% 27%;
  }
  50% {
    transform: rotate(5deg);
    transform-origin: 54% 27%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 54% 27%;
  }
}

@keyframes needle-play {
  0% {
    transform: rotate(11deg);
    transform-origin: 54% 27%;
  }
  100% {
    transform: rotate(29deg);
    transform-origin: 54% 27%;
  }
}

.start-stop-btn {
  background: #000;
  padding: 0 0.45rem 0.095rem;
  color: #333;
  position: absolute;
  border: none;
  font-size: 3.5rem;
  line-height: 2rem;
  left: 1rem;
  bottom: 1rem;
  transition: 120ms ease;
  box-sizing: border-box;
  border-radius: 5px;
}

.start-stop-btn:active {
  color: red;
}

.green {
  color: greenyellow;
  text-shadow: 0 0 12px rgb(25, 216, 50); 
}

.controls {
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 2rem;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
}

.controls label {
  margin: 0 1rem 0 0;
}


.playback-input, .volume-input {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  color: #eee;
  min-width: 2rem;
  max-width: 5rem;
  width: 12%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.volume-input {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  height: 60px;
  top: 30%;
  left: 0%;
  right: 0;
  bottom: 0;
  transform: rotate(-90deg);
}

.volume-input:focus {
  outline: none;
}

.playback-input {
  right: 5%;
  bottom: 5%;
}

.track-time {
  font-size: 1.8rem;
  font-family: monospace;
  color: white;
}

.player p {
  margin-bottom: 0.75rem;
}

.section-tracks {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
  font-weight: 100;
}

.section-tracks h3 {
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.section-tracks h3 span {
  font-weight: 900;
}

.section-tracks button {
  margin-bottom: 0.75rem;
}

.track {
  margin-bottom: 0.25rem;
}

.track p {
  color: #333;
  color: #999;
}

.track-name, .update-input {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.track-name {
  font-weight: 300;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.0));
  transition: all 250ms ease;
}

.track-name:hover {
  color: white;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.0));
  border-color: rgba(255, 255, 255, 0.20);
}

.section-tracks .btn-group {
  display: block;
  text-align: right;
}

.edit-btn, .delete-btn {
  font-size: 1.5rem;
  line-height: 1.3rem;
  border: none;
  text-align: right;
  position: absolute;
}

.edit-btn:hover, .delete-btn:hover {
  opacity: 1;
}

footer {
  width: 100%;
  background: rgba(187, 187, 187, 0.5);
  color: #ccc;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
}

footer p {
  padding: 0.5rem 0;
  font-weight: 400;
  margin: 0;
}

footer a {
  color: #222;
}

.github, .linkedin {
  width: 3rem;
}

.linkedin {
  padding: 0.25rem;
}

@media screen and (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container h2, .login-form, .register-form, .fileupload-form {
    grid-column: span 2;
  }

  .player {
    border-bottom: none;
  }

  .section-tracks {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
  }

  .track {
    margin-bottom: .5rem;
  }
}
